* {
    color: white;
}

body {
    background-color: #191919;
}
.box {
    background-color: #232323;
    -webkit-box-shadow: 0px 0px 8px 0px #616358a6;
}
.bigText {
    color: #a7aeff;
}
select {
    color: black;
}
input{
    color: black;
}
option{
    color: black;
}