{% extends 'base.html' %}

{% block title%}
Главная сраница
{% endblock %}

{% block userinfo%}
{% endblock %}

{% block article%}
 <div class="boxConteiner">
            <div class="box">
                <h1 class="bigText">Вы впервые попали на наш сайт?</h1>
                <br />
                <br />
                <div class="description">
                    Мы рады приветствовать Вас на нашем сайте.
                    Он создан в учебных целях для упрощения доступа к расписанию студентов ЧелГУ.
                    Если Вы впервые здесь, Вам стоит пройти регистрацию, нажав на соответствующую кнопку ниже.
                    Учтите, что есть два вида пользователей.
                    Если Вы зарегистрируетесь как староста, то получите доступ к созданию и редактированию расписания.
                    Остальные учащиеся смогут только просматривать расписание.
                    Если Вы уже зарегистрированы, нажмите на кнопку входа в учётную запись и введите регистрационные данные.
                    Если Вы уже выполняли вход не позднее 2-х месяцев назад, нажмите на кнопку просмотра расписания.
                    Просим обратить внимание на использование нашим сайтом cookies.
                    Вам следует покинуть данную страницу в том случае, если Вы не согласны с использованием cookies.
                    Если Вы заблокируете cookies, некоторые функции сайта будут недоступны.
                    Мы надеемся, что Вам будет удобно ежедневно пользоваться нашим ресурсом.
                    <br />
                    <br />
                </div>
                <div class="BoxForButtons">
                    <a href="/CreateAccount" class="ButtonReference" id="CreateAccount" title="Создание нового аккаунта">
                        Регистрация
                    </a>
                    <a href="/SignIn" class="ButtonReference" id="SignIn" title="Подтверждение личности пользователя">
                        Вход
                    </a>
                    <a href="/TimeTable" class="ButtonReference" id="TimeTable" title="Просмотр расписания">
                        Расписание
                    </a>
                </div>
            </div>
        </div>
{% endblock %}